<!DOCTYPE html>
<html>
  <head>
    <title>Basic Component Vue.js</title>
  </head>
  <body>
    <div id="app" v-if="status == 'tampilkan'">
      {{message}} <br /><br />
      <label v-for="(user, index) in users">{{index + 1}}. Nama : {{user.name}}, umur {{user.age}} tahun<br /></label>
    </div>
  </body>
</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        message: "Hello Vue!",
        status: "tampilkan",
        users: [
          {
            name: "Yoga",
            age: "23",
          },
          {
            name: "Firmansyah",
            age: "24",
          },
        ],
      };
    },
  }).mount("#app");

</script>
