<!DOCTYPE html>
<html>
  <head>
    <title>Handling Vue.js</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app1">
      <button @click="counter++">Add 1</button>
      <p>The button above has been clicked {{counter}} times</p>
    </div>
    <br />
    <div id="app2">
      <button @click="greet">Greet</button>
    </div>
    <br />
    <div id="app3">
      <button @click="say('Hello!')">Say Hello!!</button>
      <button @click="say('Bye!')">Say Bye!</button>
    </div>
    <div id="app4">
      <p>The submit button will give you a warning</p>
      <button @click="warn('Form cannot be submitted yet.', $event)">
        Submit
      </button>
    </div>
    <div id="app5">
      <div @click.right.ctrl.prevent="modifier" style="height: 40px; width: max-content; background-color: aqua;">
        <p>{{message}}</p>
      </div>
    </div>
  </body>
</html>

<script>
  const { createApp } = Vue;

  const app1 = createApp({
    data() {
      return {
        counter: 0,
      };
    },
  })
  app1.mount("#app1");

  const app2 = createApp({
    data() {
      return {
        name: "VueJS",
      };
    },
    methods: {
      greet(event) {
        alert("Hello " + this.name + "!");
        if (event) {
          alert(event.target.tagName);
        }
      },
    },
  })
  app2.mount("#app2");

  const app3 = createApp({
    data() {
      return {
        counter: 0,
      };
    },
    methods: {
      say(message) {
        alert(message);
      },
    },
  })
  app3.mount("#app3");

  const app4 = createApp({
    data() {
      return {};
    },
    methods: {
      warn(message, event) {
        if (event) {
          event.preventDefault();
        }
        alert(message);
      },
    },
  })
  app4.mount("#app4");

  const app5 = createApp({
    data() {
      return {
        message:
          "Press 'ctrl' key and click right mouse button here to see the message.",
      };
    },
    methods: {
      modifier() {
        this.message = 'Success!!!'
      },
    },
  })
  app5.mount("#app5");
</script>
