 <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.php#buku" class="text-decoration-none">Buku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php#penerbit" class="text-decoration-none">Penerbit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php#pengarang" class="text-decoration-none">Pengarang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php#katalog" class="text-decoration-none">Katalog</a>
                </li>
            </ul>
        </div>
    </nav>